@model Hospital.Areas.Admin.ViewModels.ApplicationUserAccountDataVM

@{
    Layout = "_AdminLayout";
}

<form asp-area="Admin" asp-action="MedicamentEdit" asp-controller="Medicament" method="post" class="form-horizontal">


    <div class="form-group row">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-auto">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="col-md-auto">
        </div>

    </div>


        <div class="col-md-auto">
        </div>



    <div class="form-group">

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Aktualizuj dane" />

        </div>
    </div>

</form>