
@{
    ViewData["Title"] = "Alergologia";
}



<div id="carouselIndicators" class="carousel slide">

    <div class="overlay">
    </div>

    <div class="carousel-inner">
        <div>
            <img class="d-block w-100" src="~/images/Offer/alergologia21.jpg" alt="Pierwszy slajd">
            <div class="carousel-caption d-none d-md-block">
                <h2>Allergologia - informacje ogólne</h2>
             
            </div>
        </div>
    </div>

   
</div>

<div>
    <p> Sed cursus suscipit nisl vitae congue. Pellentesque eu tristique turpis, sit amet tristique odio. Morbi fringilla nibh eu ex egestas varius. Nunc vehicula luctus lobortis. Pellentesque eget est semper, tincidunt dui ut, venenatis felis. Etiam facilisis lectus at nisi pharetra venenatis. Vestibulum porttitor augue orci, sed tincidunt felis scelerisque sed. Nam ultrices nunc non eros porttitor, at faucibus metus bibendum. Sed vehicula condimentum dolor vel pretium. Suspendisse id quam iaculis massa lobortis sodales. Aenean varius interdum felis id tincidunt. Pellentesque lobortis neque ut tempus posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
</div>