@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-8">
        <address>
            Uniwersytet Mikołaja Kopernika <br />
            Wydział Fizyki, Astronomii i Informatyki Stosowanej <br />
            ul. Grudziądzka 5, 87-100 Toruń <br />
            tel.: +48 56 611 3310 <br />
            fax: +48 56 622 5397 <br />
            e-mail: wyfa@fizyka.umk.pl <br />
        </address>

        <address>
            <strong>Wykonawcy:</strong><br />
            Karol Widła <br />
            Dawid Gruszczyński <br />
            Jakub Szwarc <br />
        </address>
    </div>
    <div class="col-md-4">
        Lokalizacja
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1296swb6ase98BQJVM4ifBiAHR9nWXUsh" width="350" height="350"></iframe>
</div>
</div>