@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>

<address>
    Uniwersytet Mikołaja Kopernika <br />
    Wydział Fizyki, Astronomii i Informatyki Stosowanej <br />
    ul. Grudziądzka 5, 87-100 Toruń <br />
    tel.: +48 56 611 3310 <br />
    fax: +48 56 622 5397 <br />
    e-mail: wyfa@fizyka.umk.pl <br />
</address>

<address>
    <strong>Wykonawcy:</strong><br />
        Karol Widła <br />
        Dawid Gruszczyński <br />
        Jakub Szwarc <br />
</address>
