
@{
    ViewData["Title"] = "Stomatologia";
}



<div id="carouselIndicators" class="carousel slide">

    <div class="overlay">
    </div>

    <div class="carousel-inner">
        <div>
            <img class="d-block w-100" src="~/images/Offer/dentist.jpg" alt="Pierwszy slajd">
            <div class="carousel-caption d-none d-md-block">
                <h2>Stomatologia - informacje ogólne</h2>
             
            </div>
        </div>
    </div>

   
</div>

<div>
    <p> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed tincidunt dolor sodales mauris pretium, vitae suscipit arcu commodo. Aliquam quis quam eget elit semper gravida. Mauris sollicitudin imperdiet augue ac convallis. Duis hendrerit metus non purus iaculis consectetur. Phasellus varius id felis fringilla viverra. Donec sed aliquet massa. Nulla semper mauris quam, ac vestibulum massa commodo sed. Maecenas iaculis in tortor ut vestibulum. Mauris nisl quam, congue eget urna in, consectetur sagittis urna. Fusce ornare, elit sagittis imperdiet tempus, mauris eros dignissim lorem, tincidunt condimentum quam purus vel tortor. Quisque a tempus est, et rutrum lorem. Proin lacinia augue ut pulvinar porttitor. Fusce ullamcorper tempus lorem ac blandit. </p>

</div>