
@{
    ViewData["Title"] = "Interna";
}



<div id="carouselIndicators" class="carousel slide">

    <div class="overlay">
    </div>

    <div class="carousel-inner">
        <div>
            <img class="d-block w-100" src="~/images/Offer/Interna_badanie.jpg" alt="Pierwszy slajd">
            <div class="carousel-caption d-none d-md-block">
                <h2>Interna - informacje ogólne</h2>
             
            </div>
        </div>
    </div>

   
</div>

<div>
    <p> Korzyści wynikające z wyboru Lekarza pierwszego kontaktu w Szpitalu Uniwersyteckim:</p>

    <ul style="list-style:none;">

        <li class="offer-list">
            <i class="fas fa-map-pin fa-2x" style="margin-right:50px"></i>Masz do wyboru jedną z 6 dogodnych lokalizacji, dostępnych w godzinach 8:00 - 18:00
        </li>
        <li class="offer-list">
            <i class="fas fa-stethoscope fa-2x"  style="margin-right:50px"></i>Dysponujemy specjalistycznym sprzętem medycznym w jednym miejscu.

        <li class="offer-list">
            <i class="fas fa-comment-medical fa-2x"  style="margin-right:50px"></i>Możesz wybrać swoją pielęgniarkę, położną oraz lekarza pierwszego kontaktu.
        </li>
        <li class="offer-list">
            <i class="fas fa-users fa-2x"  style="margin-right:50px"></i>Pracują u nas Specjaliści: Chorób Wewnętrznych, Medycyny Rodzinnej, Pediatrii.
        </li>
        <li class="offer-list">
            <i class="fas fa-ambulance fa-2x"  style="margin-right:50px"></i>Realizujemy transport medyczny.
        </li>

        <li class="offer-list">
            <i class="fas fa-calendar-plus fa-2x"  style="margin-right:50px"></i>Korzystając z jakichkolwiek usług w Lecznicach Citomed informacje trafiają bezpośrednio do Twojego lekarza POZ.
        </li>
        <li class="offer-list">
            <i class="fas fa-file-invoice fa-2x"  style="margin-right:50px"></i>Wystawiamy recepty refundowane, a także recepty senioralne 75+.
        </li>
        <li class="offer-list">
            <i class="fas fa-globe fa-2x"  style="margin-right:50px"></i>Nie musisz wychodzić z domu by zamówić receptę: zadzwoń, wyślij maila, lub zamów ją przez stronę on-line.
        </li>
      
    </ul>
</div>