
@{
    ViewData["Title"] = "Okulistyka";
}



<div id="carouselIndicators" class="carousel slide">

    <div class="overlay">
    </div>

    <div class="carousel-inner">
        <div>
            <img class="d-block w-100" src="~/images/Offer/Okulistyka2.jpg" alt="Pierwszy slajd">
            <div class="carousel-caption d-none d-md-block">
                <h2>Okulistyka - informacje ogólne</h2>
             
            </div>
        </div>
    </div>

   
</div>

<div>
    <p> Nam iaculis placerat tellus, et congue massa. Nunc convallis tempor odio, ut bibendum dolor accumsan non. Morbi et ligula venenatis erat condimentum auctor. Mauris a leo posuere felis accumsan porttitor a vel nunc. Aliquam ex dolor, finibus vel vestibulum non, cursus sit amet enim. Vivamus ac tempus purus, nec porta sapien. Fusce venenatis orci non leo auctor lacinia. Nunc in nunc id tellus pharetra porta non lobortis justo. Fusce porttitor leo in lectus tincidunt blandit. Sed ullamcorper molestie orci, eget rutrum nunc pretium quis. Donec malesuada ac mi in venenatis. Mauris malesuada felis eu justo placerat elementum. Sed pretium eget erat sit amet faucibus. Integer efficitur metus nibh, ut molestie elit pellentesque sed. Sed tristique urna eu felis ullamcorper, sit amet dignissim ipsum pellentesque. Morbi sed massa in eros vestibulum molestie et non risus. </p>
</div>