
@{
    ViewData["Title"] = "Chirurgia";
}



<div id="carouselIndicators" class="carousel slide">

    <div class="overlay">
    </div>

    <div class="carousel-inner">
        <div>
            <img class="d-block w-100" src="~/images/Offer/chirurgia_kolor.jpg" alt="Pierwszy slajd">
            <div class="carousel-caption d-none d-md-block">
                <h2>Chirurgia - informacje ogólne</h2>
             
            </div>
        </div>
    </div>

   
</div>

<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elit lacus, fringilla non purus ut, porta mattis leo. Pellentesque porttitor porttitor accumsan. Donec a massa diam. Nullam consectetur mauris est, ut tempor turpis mattis eget. Vivamus vitae tincidunt sem. Donec malesuada purus ac arcu finibus congue. Praesent ac ex augue.

        Nunc euismod augue sit amet magna fermentum tristique. Suspendisse consectetur sapien arcu, molestie fringilla erat venenatis id. Fusce ac congue justo. Nunc mollis, augue eget porttitor cursus, risus magna efficitur mi, nec lacinia enim mi nec felis. Pellentesque at rutrum tortor, non pellentesque elit. In purus urna, feugiat nec lorem vitae, laoreet pulvinar orci. Vivamus consequat lobortis massa id aliquet. Ut in nisi risus. Fusce vel lacus risus.
    </p>


</div>