@using Hospital.Areas.Doctor.ViewModels;
@model CurrentVisitVM;
@{
    Layout = "_DoctorLayout";
}

<script src="~/js/Doctor/MultiSelectDropDown.js" asp-append-version="true"></script>

<form asp-area="Doctor" asp-action="CurrentVisit" asp-controller="Home" method="post" class="form-horizontal">


    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label">Imię</label>
        <div class="col-md-10">
            <input asp-for="FirstName" disabled class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label">Nazwisko</label>
        <div class="col-md-10">
            <input asp-for="LastName" disabled class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group">
        <label asp-for="DescriptionVisit" class="col-md-5 control-label">Przebieg Wizyty</label>
        <div class="col-md-10">
            <textarea asp-for="DescriptionVisit" class="form-control" rows="5"></textarea>
            <span asp-validation-for="DescriptionVisit" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group">
        <label asp-for="DescriptionPrescription" class="col-md-5 control-label"> Uwagi dotyczące recpety</label>
        <div class="col-md-10">
            <textarea asp-for="DescriptionPrescription" class="form-control rounded-0" rows="3"></textarea>
            <span asp-validation-for="DescriptionPrescription" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group col-md-5">
        @Html.ListBoxFor(m => m.selectedMedicaments, new MultiSelectList(Model.Medicaments, "Name", "Name"), new { id = "multiSelectDropDown", multiple = "multiple" })
    </div>

        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Zatwierdź" />

            </div>
        </div>


</form>
