@model Hospital.Areas.Admin.ViewModels.StatisticsVM

<div class="row">
    <div class="col-md-4"><span>@Model.statisticsDictionary.ElementAt(0).Key:@Model.statisticsDictionary.ElementAt(0).Value</span></div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4"></div>
</div>
