<div class="container">
    <div class="row mb-3">
        <h2 class="col-md-3">Wyniki badań</h2>
        <button class="btn btn-success offset-md-6 col-md-3 float-right" type="button">
            Chcę umówić wizytę lub badanie
        </button>
    </div>
</div>