@model Hospital.Areas.Patient.ViewModels.BaseInfoPastAndLastVisitsVM

@*
    TODO: change text to some header or paragraph for bold text
*@

<div class="container">
    <div class="row mb-3">
        <h2 class="col-md-3">Start</h2>
        <button class="btn btn-success offset-md-6 col-md-3 float-right" type="button">
            Chcę umówić wizytę lub badanie
        </button>
    </div>
    <div class="row mb-3">
        <div class="border col-md-12">
            <h4>Sprawdź najnowszą ofertę</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="card border w-100">
            <div class="card-header">
                Wizyty
            </div>
            <div class="card-body">
                <div class="border-bottom mb-3">
                    <text class="font-weight-bold">Nadchodzące</text> (najbliższe 30 dni)
                    @if (Model.UpcomingVisits.Count == 0)
                    {
                        <p class="pl-2 py-2">
                            Nie masz zaplanowanych wizyt na najbliższe 30 dni.
                        </p>
                    }
                    else
                    {
                        foreach (var visit in Model.UpcomingVisits)
                        {
                            <partial model="visit" name="../Shared/BaseInfoVisit.cshtml" />
                        }
                    }
                </div>
                <div class="border-bottom my-3">
                    <text class="font-weight-bold">Zrealizowane</text> (ostatnie 30 dni)
                    @if (Model.RealizedVisits.Count == 0)
                    {
                        <p class="pl-2 py-2">
                            Nie zrealizowałeś(-łaś) wizyt w ciągu ostatnich 30 dni.
                        </p>
                    }
                    else
                    {
                        foreach (var visit in Model.RealizedVisits)
                        {
                            <partial model="visit" name="../Shared/BaseInfoVisit.cshtml" />
                        }
                    }
                </div>
                <div class="border-bottom my-3">
                    <text class="font-weight-bold">Nieodwołane</text> (ostatnie 30 dni)
                    @if (Model.IrrevocableVisits.Count == 0)
                    {
                        <p class="pl-2 py-2">
                            Nie posiadasz żadnych nieodwołanych wizyt.
                        </p>
                    }
                    else
                    {
                        foreach (var visit in Model.IrrevocableVisits)
                        {
                            <partial model="visit" name="../Shared/BaseInfoVisit.cshtml" />
                        }
                    }
                </div>
                <a href="#">
                    Zobacz wszystkie
                </a>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="card border w-100">
            <div class="card-header">
                <text class="font-weight-bold">Wyniki badań</text> (ostatnie 30 dni)
            </div>
            <div class="card-body">
                <p>
                    Nie masz wyników badań z ostatnich 30 dni
                </p>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="card border w-100">
            <div class="card-header">
                <text class="font-weight-bold">Skierowania</text>
            </div>
            <div class="card-body">
                <p>
                    Brak skierowań
                </p>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="card border w-100">
            <div class="card-header">
                <text class="font-weight-bold">Odpowiedzi na pytania do wizyty</text>
            </div>
            <div class="card-body">
                <p>
                    Brak odpowiedzi do pytań zadanych w ciągu ostatnich 30 dni.
                </p>
                <a href="#">
                    Zobacz wszystkie
                </a>
            </div>
        </div>
    </div>
</div>