@using Microsoft.AspNetCore.Identity
@using Hospital.Model.Identity;
@using Hospital.Core.Enums;
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- 3. BOOTSTRAP v4.0.0         JS !-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/lib/MDB/js/jquery-3.3.1.min.js"></script>
    <script src="~/lib/MDB/js/popper.min.js"></script>
    <script src="~/lib/MDB/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/MDB/js/mdb.min.js"></script>
    <script src="~/lib/MDB/js/addons/datatables.min.js"></script>
    <script src="~/lib/jquery/jquery.cookie.js"></script>

    <script type="text/javascript" asp-src-include="js/Chart.js"></script>
    <script type="text/javascript">
        function GetSelectedTextValue() {
            var selectedOption = document.getElementById("combobox");
            var selectedValue = selectedOption.value;
            document.getElementById('hidValue').value = selectedValue;
            document.getElementById("lengthForm").submit()
            jQuery.cookie("cookieLength", selectedValue, { expires: 365, path: '/' })
        }

        function changeClassToActive()
        {
          
        }
    </script>
    <script>
        jQuery(document).ready(function () {
            var selectedVal = jQuery.cookie("cookieLength");
            if (selectedVal) {
                jQuery("#combobox").val(selectedVal);
                jQuery("#hidValue").val(selectedVal);
            } 
        });
    </script>
    <script>
    </script>
    <script>
        $('#admin-header .nav a').on('click', function () {
            $('#admin-header ').find('li.active').removeClass('active');
            $(this).parent('li').addClass('active');
        });</script>
    <script>

        $(document).ready(function () {

            $('#dt').DataTable({
                language: {
                    "processing": "Przetwarzanie...",
                    "search": "Szukaj:",
                    "lengthMenu": "Pokaż _MENU_ pozycji",
                    "info": "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
                    "infoEmpty": "Pozycji 0 z 0 dostępnych",
                    "infoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                    "infoPostFix": "",
                    "loadingRecords": "Wczytywanie...",
                    "zeroRecords": "Nie znaleziono pasujących pozycji",
                    "emptyTable": "Brak danych",
                    "paginate": {
                        "first": "Pierwsza",
                        "previous": "Poprzednia",
                        "next": "Następna",
                        "last": "Ostatnia"
                    },
                    "aria": {
                        "sortAscending": ": aktywuj, by posortować kolumnę rosnąco",
                        "sortDescending": ": aktywuj, by posortować kolumnę malejąco"
                    }
                },
                "ordering": true,
                "paging": true,
                "deferRender": true,
                "stateSave": true,
                "processing": true,


                "pagingType": "numbers"// false to disable sorting (or any other option)
            });

            $('.dataTables_length').addClass('bs-select');
            //Set active to alphabetlists
            var urlParams = new URLSearchParams(window.location.search);
            var letter = urlParams.get('page')
            var selected = document.getElementById(letter);   
            selected.className += ' active';
            
            

        });

    </script>

    <environment include="Development">

        <link href="~/lib/MDB/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~lib/MDB/css/datatables.min.css" />
        <link href="~/fontawesome/css/all.css" rel="stylesheet" />

        <!-- 2. GOOGLE JQUERY JS v3.2.1  JS !-->

    </environment>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col align-self-start header-col">
                <a asp-area=""
                   asp-controller="Home" asp-action="Index" class="navbar-brand"><img class="logo" src="~/images/logoHospital.png" /></a>

            </div>
            <div class="col-sm">

            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>
        <nav class="navbar navbar-dark bg-navbar-blue navbar-expand-md mb-auto">
            <div class="container">

                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="navbar-brand"></a>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole(nameof(SystemRoleType.Admin)))
                {

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link " asp-area="Admin" asp-controller="Home" asp-action="Index">Statystyki</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="PatientBase">Baza pacjentów</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="DoctorBase">Baza doktorów</a></li>
                        <li class="nav-item"><a class="nav-link" runat="server" asp-area="Admin" asp-controller="Home" asp-action="MedicamentBase" asp-route-page="A">Baza medykamentów</a></li>
                    </ul>

                }

                <div class="navbar-collapse collapse">
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>


        <div class="container body-content">

            <br />
            @RenderBody()

            <footer class="footer page-footer font-small indigo">
                <div class="footer-copyright text-center ">
                    <hr />
                    <p>&copy; 2018 - Hospital</p>
                </div>
            </footer>
        </div>


        <environment include="Development">
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
</body>
</html>