@model Hospital.Areas.Doctor.ViewModels.AccountDataVM
@{
    Layout = "_DoctorLayout";
}
<h1>Twoje Dane</h1>

<form asp-area="Doctor" asp-action="UpdateData" asp-controller="Account" method="post" class="form-horizontal">


    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" disabled class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LastName" disabled class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group">
        <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="DateOfBirth" disabled class="form-control" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group">
        <label asp-for="PESEL" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="PESEL" disabled class="form-control" />
            <span asp-validation-for="PESEL" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group">
        <label asp-for="PostalCode" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="PostalCode"  class="form-control" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group">
        <label asp-for="City" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="City"  class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group">
        <label asp-for="Street" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Street"  class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group">
        <label asp-for="Province" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Province"  class="form-control" />
            <span asp-validation-for="Province" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group">
        <label asp-for="Phone" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>

        </div>
    </div>


    <div class="form-group">

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Aktualizuj dane" />

        </div>
    </div>


</form>