@model Hospital.Areas.Doctor.ViewModels.ChangeEmailVM
@{
    Layout = "_DoctorLayout";
}
<h1>Zmiana Emaila</h1>
<h5>Wymaga potwierdzenia</h5>
<form asp-action="ChangeEmail" asp-controller="Account" method="post" class="form-horizontal">

    <div class="form-group">
        <label asp-for="NewEmail" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewEmail" class="form-control" />
            <span asp-validation-for="NewEmail" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-blue" value="Zmień hasło" />

        </div>
    </div>

</form>