@model Hospital.Areas.Patient.ViewModels.Home.ArrangeVisit.ArrangeVisitVM

@{
    Layout = "_PatientLayout";
}

@using (Html.BeginForm("Visit", "Home", new { area = "Patient" }, FormMethod.Post))
{
    <div class="container">
        <div class="row mb-3 justify-content-center">
            <div class="col-md-3 float-left">
                <label class="control-label label label-primary">Specjalizacje</label>
                <select class="form-control" name="specializationName" id="specializationName"
                        asp-items="@Model.Specializations"></select>
            </div>
            <div class="col-md-3 float-left">
                <label class="control-label label label-primary">Dzień wizyty</label>
                <input type='text' class="form-control" name="visitDay" id="visitDay" />
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-md-3 float-left">
                <label class="control-label label label-primary">Doktorzy</label>
                <select class="form-control" name="doctorId" id="doctorId" disabled="disabled"></select>
            </div>
            <div class="col-md-3 float-left">
                <label class="control-label label label-primary">Godzina wizyty</label>
                <select class="form-control" name="visitHour" id="visitHour" disabled="disabled"></select>
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="form-group col-md-6">
                <label class="control-label label label-primary col-md-auto">Opis wizyty</label>
                <input name="description" type="text" class="form-control" />
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <input type="submit" class="btn btn-blue" id="arrangeVisit" value="Umów wizytę" />
        </div>
    </div>
}

<script src="/js/Patient/arrangeVisit.min.js" asp-append-version="true"></script>