@model Hospital.Areas.Patient.ViewModels.Home.Index.BaseInfoVisitVM

<div class="row w-100 pt-2">
    <text class="col-12 col-lg-4 font-weight-bold pl-2 text-center">@Model.Date.ToString("yyyy-MM-dd HH:mm")</text>
    <text class="col-12 col-lg-4 text-center">@Model.Specialization</text>
    <text class="col-12 col-lg-4 text-center">@Model.DoctorName</text>
</div>