@model Hospital.ViewModel.ResetPasswordVM

<form asp-action="ResetPassword" asp-controller="Account" method="post" class="form-horizontal">

    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="UserId" />

    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />

        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />

        </div>
    </div>

    <div class="form-group">

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Zmień hasło" />

        </div>
    </div>

</form>

